server:
  port: 8080
spring:
  application:
    name: api-gateway-service


  cloud:
    gateway:
      server:
        webflux:

          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

          routes:
            # User microservice
            - id: user-service
              uri: http://localhost:8081
              predicates:
                - Path=/auth/**
              filters:
                - name: RequestRateLimiter
                  args:
                    key-resolver: "#{@userKeyResolver}"
                    redis-rate-limiter.replenishRate: 10
                    redis-rate-limiter.burstCapacity: 20
                    redis-rate-limiter.requestedTokens: 1


            # Transaction microservice
            - id: transaction-service
              uri: http://localhost:8083
              predicates:
                - Path=/api/transactions/**
              filters:
                - name: RequestRateLimiter
                  args:
                    key-resolver: "#{@userKeyResolver}"
                    redis-rate-limiter.replenishRate: 10
                    redis-rate-limiter.burstCapacity: 20
                    redis-rate-limiter.requestedTokens: 1


            # Reward microservice
            - id: reward-service
              uri: http://localhost:8089
              predicates:
                - Path=/api/rewards/**
              filters:
                - name: RequestRateLimiter
                  args:
                    key-resolver: "#{@userKeyResolver}"
                    redis-rate-limiter.replenishRate: 10
                    redis-rate-limiter.burstCapacity: 20
                    redis-rate-limiter.requestedTokens: 1


            # Notification microservice
            - id: notification-service
              uri: http://localhost:8084
              predicates:
                - Path=/api/notifications/**
              filters:
                - name: RequestRateLimiter
                  args:
                    key-resolver: "#{@userKeyResolver}"
                    redis-rate-limiter.replenishRate: 10
                    redis-rate-limiter.burstCapacity: 20
                    redis-rate-limiter.requestedTokens: 1

        #        httpclient:
#          max-initial-line-length:4096
#          max-header-size:8192 (already these are default)
        filters:
          - name: RequestSize
            args:
              maxSize: 1MB
